body{
    margin: auto;
    background: #292929;
}

.container_1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 20px 10px 20px 10px;
}

.container_1 div{
    display: flex;
    padding: 10px 10px 10px 10px;
    align-items: center;
    flex-direction: column;
    width: 430px;
    height: 80px;
    background: whitesmoke;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(113, 113, 113, 0.619);
}

.input{
    font-size: 25px;
    text-align: right;
    width: 410px;
    font-weight: bold;
    background: none;
}

.output {
    text-align: end;
    font-size: 25px;
    font-weight: bold;
}

.container_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container_2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    gap: 5px;
}

.button_operator{
    width: 60px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    background: wheat;
}

.button_operator:hover{
    cursor: pointer;
    background: #ffd261;
}

.button_numerico{
    width: 60px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    background: #ecefff;
}

.innecesary{
    width: 60px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    background: #292929;
}

.button_numerico:hover{
    cursor: pointer;
    background: #9eccff;
}


.icon{
    font-weight: bolder;
    font-size: 25px;
}